* {
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #f6f6f2;
  color: #282c34;
  font-family: "Helvetice Neue", sans-serif;
}

.page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.page-container {
  width: 100%;
  max-width: 30em;
  margin: 2em auto;
}

.page-header {
  text-align: center;
  background-color: #fff;
  padding: 2em;
}

.page-footer {
  margin: 0.5em auto;
  padding: 0.5em;
  text-align: center;
}

.title {
  font-size: 2em;
  text-transform: uppercase;
  color: #cf263d;
}

.subtitle {
  font-weight: normal;
  text-transform: uppercase;
}

a,
.profile-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #cf263d;
}
